---
layout: base.njk
---

<header class="post-header">
    <h2>{{title}}</h2>
    <div class="byline">
        <p>Written by {{author}}</p>
    </div>
</header>

{{ content | safe }}

<footer class="post-footer">
tags: {% for tag in tags %}
<a href="/tags/{{tag}}/">{{tag}}</a> &nbsp;|&nbsp;
{% endfor %}
</footer>